component/rest/src/test/java/conf/standalone/test.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="test">
	<xsd:complexType>
	<xsd:sequence> 
    <xsd:element name="testChild1"/>
    <xsd:element name="testChild2"/>
    <xsd:element name="testChild3"/>
	</xsd:sequence> 
	</xsd:complexType>
</xsd:element>
</xsd:schema>